h1 { /* Замена цвета заголовка */
    color: orangered
}
p { /* Замена цвета парагрфа*/
    color: green
}
li { /* применение стилей ко всем спискам в документе*/
    list-style-type: none; 
} /*убирает точки в списке*/

.special { /* примененине стилей к тегам помеченных .special*/
    color: orange;
    font-weight: bold;
}
li em { /* применение стилей к элементам em в списке*/
    color: lawngreen;
}
p span{
    color: red;
}
a link {
    color: pink;
}
a:visited { /* меняет цвет ссылки, которая была нажата*/
    color: green;
}
a:hover { /* скрывает подчеркивание при наведении на ссылку*/
    text-decoration: none;
}

/* выбирает любой <span> внутри <p>, который находится внутри <article>  */
/*article p span {
    ...
}*/

/* выбирает любой <p>, который идёт сразу после <ul>, который идёт сразу после <h1>  */
/*h1 + ul + p {
    ...
}*/

body h1 + p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
}